.App {
  text-align: center;
  color: #333;
}

.loading:before {
  content: '';
  display: inline-block;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #05CC7A;
  border-bottom: 8px solid #05CC7A;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 10%;
  left: 50%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: translateX(-50%) rotate(0deg); }
  100% { -webkit-transform: translateX(-50%) rotate(360deg); }
}

@keyframes spin {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}